# Comment out as not in score yet
# *                                   @eclipse-score/automotive-score-committers
# .github                             @eclipse-score/automotive-score-committers

# docs                                @eclipse-score/automotive-score-committers

